$color_1: black;
$color_2: white;
$color_3: red;
$color_4: #fff;
$color_5: orange;
$color_6: rgb(11, 2, 63);
$color_7: gray;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: orange;
$background-color_2: #f9f9f9;
$background-color_3: #ddd;
$background-color_4: rgba(211, 211, 211, 0.5);
$background-color_5: rgb(218, 88, 52);
$background-color_6: white;
$background-color_7: rgba(218, 88, 52, 0.8);
$background-color_8: darkgray;
$background-color_9: #fff;
$background-color_10: whitesmoke;
$background-color_11: grey;
$background-color_12: #ccc;
$theme: 'light';