input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: $base-spacing;
    border: 1px solid $note-border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
  }