// Base
$font-family: 'Helvetica Neue', Arial, sans-serif;
$base-spacing: 16px;
$border-radius: 6px;

// Colors

$text-color: black;
$title-color: brown;
$note-background-color: transparent;
$note-border-color: #E0E0E0;
// $note-hover-background-color: #FAFAFA;
$note-hover-background-color:  #3ee378bc;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$focus-outline-color: #5D93E1;
$completed-text-color: #6C757D;
$button-bg: #2ECC71; // Green button
$button-hover-bg: #27AE60; // Darker green on hover
$modal-overlay-color: rgba(0, 0, 0, 0.4);
$modal-bg-color: #FFFFFF;





